@import '_reset';
@import 'popup/_appsGrid';
@import 'popup/_appNames';

body {
  color: #404040;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf')
}
@font-face {
    font-family: RobotoCondensed;
    src: url('../fonts/RobotoCondensed-Regular.ttf')
}
